.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btnContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
h2{
    text-align: center;
}
div button{
    background-color: black;
    color: white;
    border-radius: 10px;
}